body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', sans-serif;
}

/* Headers */
#b-o h1, h2, h3, h4, h5 {
  font-weight: 700;
}

/* Paragraphs */
#b-o p {
  font-weight: 500;
}

/* All text */
#b-o h1, h2, h3, h4, h5, h6, p {
  color: #363062;
}

/* Buttons */
#b-o .btn-primary {
  background-color: #363062;
  border-color: #363062;
}

#b-o .btn-secondary {
  background-color: #d8b9c3;
  border-color: #d8b9c3;
  color: #363062;
}

#b-o .btn {
  font-weight: 500;
}

/*
Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap
*/

/* Small devices (landscape phones, 576px and smaller) */
@media (max-width: 576px) {  }

/* Medium devices (tablets, 767px and smaller */
@media (max-width: 767px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #b-o h1, h2, h3, h4, h5, h6 {
    font-size: 3.5rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #b-o h1, h2, h3, h4, h5, h6 {
    font-size: 4.5rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }
